%meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1"}
%link{rel: "stylesheet", href: "application.css"}
%link{rel: "stylesheet", href: "bootstrap_thin.css"}
.col-xs-12
  .grand-container
    .panel-padding
      .row
        .col-xs-12
          .general-header-big How It Works
      .row
        .col-md-6.col-xs-12
          .add-vertical-pad
          .row
            .col-xs-12
              %span.floatleft.cerulean-header 1.
              %span.floatleft.directions-width
                .general-content You pay for a subscription to a solar installation and continue receiving your electricity from the grid.
          .add-vertical-pad.not-mobile
          .add-small-vertical-pad.mobile-only
          .row
            .col-xs-3
            .col-xs-6
              .thin-rule.grey-rule
            .col-xs-3
          .add-vertical-pad.not-mobile
          .add-small-vertical-pad.mobile-only
          .row
            .col-xs-12
              %span.floatleft.navy-header 2.
              %span.floatleft.directions-width
                .general-content The electricity from the solar installation is put on the grid. No panels go on your property, and no new wires run to your house or building.
          .add-vertical-pad.not-mobile
          .add-small-vertical-pad.mobile-only
          .row
            .col-xs-3
            .col-xs-6
              .thin-rule.grey-rule
            .col-xs-3
          .add-vertical-pad.not-mobile
          .add-small-vertical-pad.mobile-only
          .row
            .col-xs-12
              %span.floatleft.grey-header 3.
              %span.floatleft.directions-width
                .general-content
                  You get
                  %a{href: "#/", class: "link_inline"} credit on your bill
                  for the electricity generated by your community solar subscription.
        .col-md-6.col-xs-12
          .add-vertical-pad.mobile-only
          %img{src: "AboutCommunitySolarDiagram.jpg", class: "side-by-image"}
